body {
  background-color: #ffffff;
}

.container-btn {
  margin-bottom: 15px;
  text-align: center;
}

.set-grid,
.set-color,
.clear-grid {
  font-size: 12px;
  padding: 2px 0px;
  width: 100px;
}

.set-grid:hover,
.set-color:hover,
.clear-grid:hover {
  box-shadow: 0 0 2px 2px #000000;
}

.logo {
  text-align: center;
  margin: 5px;
  margin-bottom: 10px;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  color: #FFD700;
}

.wrapper {
  width: 484px;
  height: 484px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #b71c1c;
  overflow: none;
}

.container-grid {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  height: 384px;
  width: 384px;
  margin: 0 auto;
  margin-bottom: 10px;
  outline-style: solid;
  outline-color: #e0e0e0;
  box-shadow: 1px 1px 6px 8px #e0e0e0;
}

.grid {
  background-color: #e0e0e0;
}

.menu-wrapper {
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 20px;
  width: 100%;
}

.right-knob {
  float: left;
  background-color: white;
  border: solid thin #000000;
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

.left-knob {
  float: left;
  right: 5px;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: solid thin #000000;
}

.menu {
  float: left;
  width: 384px;
  height: 100px;
}