body{
  background-color: #e0e0e0;
}
.nav {
  font-family: monospace;
  margin-top: 0;
  text-align: center;
}

.container-btn {
  margin-bottom: 15px;
  text-align: center;
}

.set-grid,
.set-color,
.clear-grid {
  border-radius: 3px;
  font-family: monospace;
  font-size: 12px;
  padding: 5px 5px;
  width: 96px;
}

.set-grid:hover,
.set-color:hover,
.clear-grid:hover {
  box-shadow: 0 0 2px 2px #000000;
}

.container-grid {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.grid{
  background-color: #e0e0e0;
}
.wrapper {
  width: 440px;
  height: 440px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: -1px 1px 5px 6px #b71c1c;
  background-color: #f44336;
  margin-bottom: 30px;
}